:root {
  --base-color: #000000;
  --text-color: #fff3ca;
  --primary-color: #7ec483;
  --secondary-color: rgb(0, 234, 255);
  --color-1: rgb(0, 0, 0);
  --color-2: rgb(248, 166, 66);
  --color-3: pink;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Bitter", Times, serif;
}
html {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
}

body {
  padding: 0em;
  background-color: var(--base-color);
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 30px 10%;
  color: var(--text-color);
  margin: 1em;
  background-color: #000000;
  backdrop-filter: blur(90px);
}

.logo {
  height: 3em;
  cursor: pointer;
}

.nav_links {
  list-style: none;
  background-color: rgb(28, 28, 28);
  border-radius: 30px;
  padding: 1em;
  border: 1px solid orange;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(0, 234, 255);
}

nav a:hover {
  text-decoration: underline;
}

button {
  padding: 9px 25px;
  background-color: rgb(113, 233, 251);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgb(255, 255, 255);
}

a:link {
  text-decoration: none;
  color: white;
}

.section_one {
  margin: 2em auto;
  width: min(75em, 100%);
  display: flex;
  justify-content: left;
  background-color: rgb(14, 14, 14);
  flex-wrap: wrap;
  padding: 2em;
  gap: 5em;
}

.section_two {
  display: flex;
  flex-flow: row wrap;
  gap: 3em;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 183, 0);
  padding: 2em;
  margin: 3em;
  border-radius: 10;x
}

.section_three {
  display: flex;
  flex-flow: row wrap;
  gap: 3em;
  padding: 2em;
  margin: 3em;
  border: 1px solid gold;
}

.section_two h2 {
  padding-top: .5em;
  padding-right:7em;

}
.section_three h2 {
    padding-top: .5em;
    padding-right: 5em;
}

.skills {
  flex-grow: 1;
  padding: 1em;
  border: 1px solid gold;
  border-radius: 10px;
  background-color: rgb(69, 61, 19);
  color: gold;
  text-align:center;
 
}

.projects {
  flex-grow: 1;
  padding: 2em;
  border: 1px solid gold;
  border-radius: 10px;
  background-color: rgb(69, 61, 19);
  text-align: center;
  height: 300px;
}

.mephoto {
  border-radius: 60%;
  border: 1px solid gold;
}

h1 {
  font-size: 2.5rem;
}

.footer {
    display: flex;
    height:300px;
    background-color: rgb(20, 20, 20);
    border: 1px solid gold;
    box-shadow: 0 15px 30px rgba(255, 46, 46, 0.7);
    background-color: linear-gradient(to right,
    rgba(255,255,255,.1),
    rgba(255,255,255,0));

}

.foot_div_01 {
margin: 2em;
}

.foot_div_02{
    height: 250px;
    border: 5 px solid rgb(255, 200, 0);
    width:2px;
    background-color:rgb(255, 206, 101);
    margin: 3em; 
    padding-bottom:2em;
}

.foot_div_03 {
    flex-grow: 1;
   

}

.hidden {
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--color-1);
  gap: 20em;
  opacity: 0;
  list-style-type: none;
  transition: all 1s;
}

.show {
  opacity: 1;
}
@media (max-width: 988px) {
  header {
    text-align: center;
  }

  header .text-container {
    padding-top: 0;
  }
}

@media (max-width: 640px) {
  nav li {
    display: none;
  }

  nav li:first-child,
  nav li:last-child {
    display: block;
  }


.column .skills
}

