:root {
  --base-color: #000000;
  --text-color: #fff3ca;
  --primary-color: #7ec483;
  --secondary-color: rgb(0, 234, 255);
  --color-1: rgb(0, 0, 0);
  --color-2: rgb(248, 166, 66);
  --color-3: pink;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  font-family: "Bitter", Times, serif;
}
html {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
}

body {
  padding: 0em;
  background-color: var(--base-color);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 30px 10%;
  color: var(--text-color);

  background-color: #000000;
  backdrop-filter: blur(90px);
}

.logo {
  height: 3em;
  cursor: pointer;
}

.nav_links {
  list-style: none;
  background-color: rgb(28, 28, 28);
  border-radius: 30px;
  padding: 1em;
  border: 1px solid orange;
  font-size: clamp(1.8rem, calc(7vw +1rem), 5rem);
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(0, 234, 255);
}

nav a:hover {
  text-decoration: underline;
}

.contact {
  padding: 9px 25px;
  background-color: rgb(113, 233, 251);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.contact:hover {
  background-color: rgb(255, 255, 255);
}

a:link {
  text-decoration: none;
  color: white;
}

.section_one {
  width: min(100, 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: linear-gradient(rgb(34, 22, 3), rgb(0, 0, 0));
  padding: 7em;
  gap: 5em;
}

.section_two {
  display: flex;
  flex-flow: row wrap;
  gap: 3em;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(255, 183, 0);
  padding: 2em;
  margin: 3em;
  border-radius: 10;
  box-shadow: 0 0 15px rgba(174, 163, 151, 0.6);
  transition: 0.3s ease;
}

.section_two:hover {
  transform: translateY(-4px);
  filter: brightness(1.2);
}

.section_three {
  display: flex;
  flex-flow: row wrap;
  gap: 3em;
  padding: 2em;
  margin: 3em;
  border: 1px solid gold;
}

.section_two h2 {
  padding-top: 0.5em;
  padding-right: 7em;
}
.section_three h2 {
  padding-top: 0.5em;
  padding-right: 5em;
}

.skills {
  flex-grow: 1;
  padding: 1em;
  border: 1px solid gold;
  border-radius: 10px;
  background-color: rgb(69, 61, 19);
  color: gold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 1em;
}

.skills:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 15px rgba(255, 132, 0, 0.6);
  transform: translateY(-4px);
}

.projects {
  flex-grow: 1;
  padding: 2em;
  border: 1px solid gold;
  border-radius: 10px;
  background-color: rgb(69, 61, 19);
  text-align: center;
  height: 300px;
}

.mephoto {
  border-radius: 60%;
  border: 1px solid gold;
  transition: transform 0.2s ease;
  filter: brightness(1.2);
}

.tech-stack {
  display: flex;

  width: 100%;
  justify-content: space-between;
}

.mephoto:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 2.5rem;
}

.footer {
  display: flex;
  height: 200px;
  background-color: rgb(20, 20, 20);
  border: 1px solid gold;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
  background: linear-gradient(rgb(34, 22, 3), rgb(0, 0, 0));
  justify-content: space-between;
  border-right: none;
}

.copyright {
  font-size: 14px;
  text-align: center;
  color: white;
}

.foot_div_01 {
  padding: 2em;
  padding-right: 7em;
  flex-direction: row;
  background: radial-gradient(rgb(34, 22, 3), rgb(0, 0, 0));
}

.foot_div_02 {
  display: flex;
  gap: 5em;
  margin: 2em;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  height: 100px;
}

h4 {
  font-size: 12px;
}

.contact-inputs {
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  margin: 1em;
  font-weight: 500;
  border-radius: 50px;
}

.footerbuttons {
  object-fit: cover;
  border: 2px solid blue;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(69, 61, 19);
  border-radius: 30px;
  padding: 1em;
  border: 1px solid gold;
  cursor: pointer;
}

.footerbuttons:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 15px rgba(255, 132, 0, 0.6);
  transform: translateY(-4px);
}

.footerbuttons img {
  height: 75px;
  width: 75px;
  object-fit: cover;
}
.hidden {
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--color-1);
  gap: 20em;
  opacity: 0;
  list-style-type: none;
  transition: all 1s;
}

.show {
  opacity: 1;
}

@media (max-width: 980px) {
  .nav_links {
    display: none;
  }

  .section_one {
    width: min(100, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(rgb(34, 22, 3), rgb(0, 0, 0));
    padding: 7em;
    gap: 5em;
  }
  h1 {
    display: inline-block;
  }
}

@media (max-width: 420px) {
  .nav_links {
    display: none;
  }
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
  }
  .section_one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
    padding: 3em;
    gap: 5em;
    flex-shrink: 1;
  }

  .headertext {
    margin: 2em;
  }

  .headertext2 {
    margin: 2em;
  }

  .section_two {
    width: min(22em, 75%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .tech-stack {
    width: min(22em, 100%);
    flex-wrap: wrap;
    padding: 1em;
  }

  h1 {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 1em;
  }

  h2 {
  }

  .footerbuttons img {
    height: 30px;
    width: 30px;
  }

  .foot_div_02 {
    display: flex;
    gap: 0.5em;
    margin: 1em;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .footer {
    height: auto;
  }
}
